<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <h3>Tasks <small>This Week</small></h3>
            <p>
                <b><i class="fa fa-user"></i> Urgent Priority</b>
                <ul>
                    <li>Task Item #11</li>
                </ul>
            </p>
            <p>
                <b><i class="fa fa-user"></i> Medium Priority</b>
                <ul>
                    <li>Task Item #11</li>
                    <li>Task Item #12</li>
                    <li>Task Item #13</li>
                </ul>
            </p>
            <p>
                <b><i class="fa fa-user"></i> Low Priority</b>
                <ul>
                    <li>Task Item #11</li>
                    <li>Task Item #12</li>
                    <li>Task Item #13</li>
                    <li>Task Item #14</li>
                    <li>Task Item #15</li>
                    <li>Task Item #16</li>
                    <li>Task Item #17</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail" style="min-height: 200px;">
            <h3>Sprint #123 <small>Burndown Graph</small></h3>
        </div>
        <div class="thumbnail" style="min-height: 160px;">
            <h3>Recent Activity <small>All Projects</small></h3>
            <ul>
                <li>Comment from user #11</li>
                <li>Comment from user #12</li>
                <li>Comment from user #13</li>
                <li>Comment from user #14</li>
                <li>Comment from user #15</li>
                <li>Comment from user #16</li>
                <li>Comment from user #17</li>
            </ul>
        </div>
    </div>
</div>