<div>
    <div ng-if="!childCtrl.sprint">
        <em>Sprint Not Found....</em>
    </div>
    <span class="pull-right" ng-if="childCtrl.sprint">
        <a class="btn btn-xs btn-default" href="" ng-click="viewCtrl.cancel()">Cancel</a>
        <a class="btn btn-xs btn-primary" href="" ng-click="viewCtrl.updateSprint(childCtrl.sprint)">Update</a>
    </span>
    <div ng-if="childCtrl.sprint">
        <h3>
            {{ viewCtrl.getProjectLabel(childCtrl.sprint.ProjectKey) }}
            <small>
                Sprint #{{ (childCtrl.sprint.Number || 1) }}
            </small>
        </h3>
        <div class="row contained" ng-if="childCtrl.boards.length">
            <div ng-class="childCtrl.getColumnCss(childCtrl.boards.length)"
                 ng-repeat="board in childCtrl.boards track by board.Key">
                <div class="board drop-target"
                     drop-action="viewCtrl.moveTask(item.Key, data)">
                    <div>
                        <h4>
                            <i class="fa fa-tag"></i> {{ board.Title || 'Board' }}
                        </h4>
                        <ul class="drop-list">
                            <li class="drag-item" drag-data="task"
                                ng-dblclick="viewCtrl.editTask(task)"
                                ng-repeat="task in viewCtrl.scrumBoards.Tasks.filter(board.Key) track by task.Key">
                                <div class="tile">
                                    <h5>{{ task.Title }}</h5>
                                    <p>
                                        {{ task.Description }}
                                    </p>
                                </div>
                            </li>
                        </ul>     
                        <div ng-if="board.TaskType <= 2">
                            <a href="" ng-click="viewCtrl.addBacklogs(childCtrl.sprint, board)" class="tile aside">
                                <i class="fa fa-share"></i> From Backlog
                            </a>
                            <a href="" ng-click="viewCtrl.addTaskToBoard(board)" class="tile aside">
                                <i class="fa fa-plus"></i> Add Task
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
