<div>
    <div ng-if="!childCtrl.sprint">
        <em>Sprint Not Found....</em>
    </div>
    <span class="pull-right" ng-if="childCtrl.sprint">
        <a class="btn btn-xs btn-default" href="" ng-click="viewCtrl.cancel()">Cancel</a>
        <a class="btn btn-xs btn-primary" href="" ng-click="viewCtrl.update(childCtrl.sprint)">Update</a>
    </span>
    <div ng-if="childCtrl.sprint">
        <h3>
            {{ viewCtrl.getProjectLabel(childCtrl.sprint.ProjectKey) }}
            <small>
                Sprint #{{ (childCtrl.sprint.Number || 1) }}
            </small>
        </h3>
        <div class="row contained">
            <div class="col-md-3">
                <div class="board">
                    <div>
                        <h4>
                            <i class="fa fa-tags"></i> Unassigned Tasks
                        </h4>
                        <div class="tile" ng-repeat="task in viewCtrl.scrumBoards.Tasks.filter(childCtrl.sprint.Key)">
                            <a href="" ng-click="viewCtrl.cancelTask()" class="pull-right ctrl"><i class="fa fa-times"></i></a>
                            <a href="" ng-click="viewCtrl.updateTask(viewCtrl.newTask)" class="pull-right ctrl"><i class="fa fa-save"></i></a>
                            <h5>{{ task.Title }}</h5>
                            <p>
                                {{ task.Description }}
                            </p>
                        </div>
                        <a href="" ng-click="viewCtrl.addTask()" class="tile add">
                            <i class="fa fa-plus"></i> Add Task
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="board">
                    <div>
                        <h4>
                            <i class="fa fa-tags"></i> In Progress
                        </h4>
                        <div class="tile" ng-repeat="task in viewCtrl.scrumBoards.Tasks.filter(childCtrl.sprint.Key)">
                            <a href="" ng-click="viewCtrl.cancelTask()" class="pull-right ctrl"><i class="fa fa-times"></i></a>
                            <a href="" ng-click="viewCtrl.updateTask(viewCtrl.newTask)" class="pull-right ctrl"><i class="fa fa-save"></i></a>
                            <h5>{{ task.Title }}</h5>
                            <p>
                                {{ task.Description }}
                            </p>
                        </div>
                        <a href="" ng-click="viewCtrl.addTask()" class="tile add">
                            <i class="fa fa-plus"></i> Add Task
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="board">
                    <div>
                        <h4>
                            <i class="fa fa-tags"></i> In Testing
                        </h4>
                        <div class="tile" ng-repeat="task in viewCtrl.scrumBoards.Tasks.filter(childCtrl.sprint.Key)">
                            <a href="" ng-click="viewCtrl.cancelTask()" class="pull-right ctrl"><i class="fa fa-times"></i></a>
                            <a href="" ng-click="viewCtrl.updateTask(viewCtrl.newTask)" class="pull-right ctrl"><i class="fa fa-save"></i></a>
                            <h5>{{ task.Title }}</h5>
                            <p>
                                {{ task.Description }}
                            </p>
                        </div>
                        <a href="" ng-click="viewCtrl.addTask()" class="tile add">
                            <i class="fa fa-plus"></i> Add Task
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="board">
                    <div>
                        <h4>
                            <i class="fa fa-tags"></i> Completed
                        </h4>
                        <div class="tile" ng-repeat="task in viewCtrl.scrumBoards.Tasks.filter(childCtrl.sprint.Key)">
                            <a href="" ng-click="viewCtrl.cancelTask()" class="pull-right ctrl"><i class="fa fa-times"></i></a>
                            <a href="" ng-click="viewCtrl.updateTask(viewCtrl.newTask)" class="pull-right ctrl"><i class="fa fa-save"></i></a>
                            <h5>{{ task.Title }}</h5>
                            <p>
                                {{ task.Description }}
                            </p>
                        </div>
                        <a href="" ng-click="viewCtrl.addTask()" class="tile add">
                            <i class="fa fa-plus"></i> Add Task
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
