<div>
    <span ng-if="childCtrl.project" class="pull-right">
        <a class="btn btn-xs btn-default" href="" ng-click="viewCtrl.cancel()">Cancel</a>
        <a class="btn btn-xs btn-primary" href="" ng-click="viewCtrl.update(childCtrl.project)">Update</a>
    </span>
    <div ng-if="!childCtrl.project" class="inactive-fill">
        <em>Project Not Found</em>
    </div>
    <h3 ng-if="childCtrl.project">
        Project Details
        <small ng-if="childCtrl.project">
            {{ childCtrl.project.Description }}
        </small>
    </h3>
    <div class="row contained tight" ng-if="childCtrl.project">
        <div class="col-md-12" ng-if="childCtrl.project">
            <div class="project">
                <a class="pull-right ctrl"><i class="fa fa-trash"></i></a>
                <h4>
                    <a xui-sref="projects.item({ projectKey: childCtrl.project..Key })">
                        <i class="fa fa-tags"></i> {{ childCtrl.project.Title || 'Project Overview' }}
                    </a>
                    <small>1 Active, 2 Scheduled, 0 Commpleted, 1 Backlog(s)</small>
                </h4>
                <div class="proj-body">
                    <div class="proj-logo">
                        No Logo
                    </div>
                    <div class="proj-info" 
                         sprint-summary
                         sprint-summary-project="childCtrl.project">
                        <em>Loading Summary...</em>
                    </div>
                    <div class="proj-history">
                        <h5>
                            Project History
                            <small>1 January 2012 to 30 August 2015 (12 Sprints)</small>
                        </h5>
                        <div class="tile empty">
                            <i class="fa fa-info-circle"></i> No Data Avalaible
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="childCtrl.project"
         sprint-backlog-view="childCtrl.project">
    </div>
</div>