<div>
    <span class="pull-right">
        <a class="btn btn-default" href="" ng-click="state.pilot=2">Edit</a>
        <a class="btn btn-primary" href="" ng-click="state.pilot=0">Done</a>
    </span>
    <br />
    <h3>
        Large Scale Project
        <small>6 User(s), 12 Stories, 91 points</small>
    </h3>
    <div class="row contained">
        <div class="col-md-2"><div class="board">Sprint 1</div></div>
        <div class="col-md-2"><div class="board">Sprint 2</div></div>
        <div class="col-md-2"><div class="board">Sprint 3</div></div>
        <div class="col-md-2"><div class="board">Sprint 4</div></div>
        <div class="col-md-2"><div class="board">Sprint 5</div></div>
        <div class="col-md-2"><div class="board">Sprint 6</div></div>
        <div class="col-md-2"><div class="board">Sprint 7</div></div>
        <div class="col-md-2"><div class="board">Sprint 8</div></div>
        <div class="col-md-2"><div class="board">Sprint 9</div></div>
        <div class="col-md-2"><div class="board">Sprint 10</div></div>
        <div class="col-md-2"><div class="board">Testing</div></div>
        <div class="col-md-2"><div class="board">Backlog</div></div>
    </div>
</div>