<div>
    <p>
        <h3>Simple Project Name <small>1 User(s), 3 Stories, 12 points</small></h3>
        <div class="row contained">
            <div class="col-md-3 btn btn-default">Previous (2 sprints)</div>
            <div class="col-md-3 btn btn-default">Current (4 of 12 points)</div>
            <div class="col-md-3 btn btn-default">Upcomming (2 sprints)</div>
            <div class="col-md-3 btn btn-default">Backlog (4 items)</div>
        </div>
    </p>
    <p>
        <h3>Large Scale Project <small>1 User(s), 3 Stories, 12 points</small></h3>
        <div class="row contained">
            <div class="col-md-3 btn btn-default">Previous (2 sprints)</div>
            <div class="col-md-3 btn btn-default">Current (4 of 12 points)</div>
            <div class="col-md-3 btn btn-default">Upcomming (2 sprints)</div>
            <div class="col-md-3 btn btn-default">Backlog (4 items)</div>
        </div>
    </p>
    <p>
        <h3>Future Dated Project <small>1 User(s), 3 Stories, 12 points</small></h3>
        <div class="row contained">
            <div class="col-md-3 btn btn-default">Previous (2 sprints)</div>
            <div class="col-md-3 btn btn-default">Current (4 of 12 points)</div>
            <div class="col-md-3 btn btn-default">Upcomming (2 sprints)</div>
            <div class="col-md-3 btn btn-default">Backlog (4 items)</div>
        </div>
    </p>
</div>