<div>
    <h3>
        Current Projects
        <small>2 Items, 1 Active Sprint(s)</small>
    </h3>
    <div class="row contained">
        <div class="col-md-12" ng-repeat="item in childCtrl.projects">
            <div class="project">
                <a href="" class="pull-right"><i class="fa fa-arrows"></i></a>
                <h4>
                    <a ui-sref="projects.item({ projectKey: item.Key })">
                        <i class="fa fa-tags"></i> {{ item.Title || 'Project Overview' }}
                    </a>
                    <small>1 Active, 2 Scheduled, 0 Commpleted, 1 Backlog(s)</small>
                </h4>
                <div class="proj-body">
                    <div class="proj-logo">
                        No Logo
                    </div>
                    <div class="proj-info">
                        <h5>
                            <i class="fa fa-tag"></i> Sprint #1
                            <small>4 / 12 Points</small>
                        </h5>
                        <a href="" ui-sref="sprints.list({ projectKey: item.Key })" class="tile add">
                            <i class="fa fa-plus"></i> Add Sprint
                        </a>
                    </div>
                    <div class="proj-history">
                        <h5>
                            Project History
                            <small>1 January 2012 to 30 August 2015 (12 Sprints)</small>
                        </h5>
                        <div class="tile empty">
                            <i class="fa fa-info-circle"></i> No Data Avalaible
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <a href="" class="project add">
                <i class="fa fa-plus"></i> Create Project
            </a>
        </div>
    </div>
</div>