<div>
    <span class="pull-right"></span>
    <h3>
        Project Backlogs
        <small>17 Tasks(s), 2 Groups</small>
    </h3>
    <div class="row contained">
        <div class="col-md-3" ng-repeat="item in viewCtrl.boards">
            <div class="board">
                <a href="" class="pull-right"><i class="fa fa-arrows"></i></a>
                <h4>
                    <a href="" ng-click="viewCtrl.openBoard(item)">
                        <i class="fa fa-sticky-note-o"></i> {{ item.Title || 'Project Backlog' }}
                    </a>
                </h4>
                <div class="tile" ng-repeat="task in viewCtrl.scrumBoards.Tasks.filter(item.Key)">
                    <h5>{{ task.Title }}</h5>
                    <p>
                        {{ task.Description }}
                    </p>
                </div>
                <div class="tile inactive">
                    <p>
                        Add Task
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>