<div>
    <span class="pull-right"></span>
    <h3>
        Create New Backlog
        <small>6 User(s), 12 Stories, 91 points</small>
    </h3>
    <div class="row contained">
        <div class="col-md-12">
            <form class="board">
                <div class="form-group">
                    <label for="txtProject">Link to Project</label>
                    <select class="form-control" id="txtProject" ng-model="viewCtrl.current.ProjectKey">
                        <option value=""> - Select a Project -</option>
                        <option value="{{ opt.Key }}" ng-repeat="opt in viewCtrl.scrumBoards.Projects.list()">{{ opt.Title }}</option>
                    </select>
                </div>
                <div class="form-group" ng-if="viewCtrl.current.ProjectKey">
                    <label for="txtSprint">Link to Sprint</label>
                    <select class="form-control" id="txtSprint" ng-model="viewCtrl.current.SprintKey">
                        <option value=""> - No Sprint Selected -</option>
                        <option value="{{ opt.Key }}" xng-repeat="opt in viewCtrl.scrumBoards.Projects.list()">{{ opt.Title }}</option>
                    </select>
                </div>
                <p>
                    <a ng-click="viewCtrl.cancel()" class="btn btn-default">Cancel</a>
                    <a ng-click="viewCtrl.insert(viewCtrl.current)" class="btn btn-primary"
                            ng-disabled="!viewCtrl.current.ProjectKey && !viewCtrl.current.SprintKey">
                        Submit
                    </a>
                </p>
            </form>
        </div>
    </div>
</div>