body {
    height: 100%;

    .app-container {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        .app-loading {
            margin: 20px;
            color: silver;
            font-size: larger;
        }

        .app-caption {
            margin: 0;
            padding: 16px;
            color: #ffffff;
            background: #303c4b;
            text-align: right;

            h2 {
                float: left;
                margin: 0 16px;
            }

            small {
                color: #e2e2e2;
                font-size: 16px;

                a {
                    color: #e2e2e2;
                }
            }
        }

        .app-panel {
            padding: 16px;
            border: solid 1px #888;

            h3 {
                color: #000;
                padding: 0;
                margin: 0;
                margin-bottom: 8px;
                border-bottom: solid 1px silver;
            }

            small, small a {
                color: silver;
            }

            .contained {
                padding: 3px;
                margin: 0 0 32px 0;
                background: rgba(136, 136, 136, 0.25);
                border: solid 1px rgba(136, 136, 136, 0.5);

                .board {
                    margin: 3px -8px;
                    padding: 6px;                    
                    display: block;
                    min-height: 400px;
                    background: rgba(255, 255, 255, 0.95);
                    border: solid 1px rgba(136, 136, 136, 0.75);
                }
            }
        }

        .app-body {
            padding: 0;
            margin: 0;
            min-height: 85%;
        }

        .app-footer {
            margin: auto 0;
            padding: 1px;
            border-top: dotted 1px silver;
            font-size: 10px;
            text-align: center;
        }
    }
}
